/* smaller device */
@media screen and (max-width:576px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        gap: 10px;
    }

    .exercise-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .exercise-container img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
    }

}

/* larger device */
@media screen and (min-width:576px) and (max-width:1200px) {
    .main-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin: 10px;
        gap: 10px;
    }

    .exercise-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .exercise-container img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}

.cart-container {
    background-color: rgba(240, 128, 128, 0.303);
}