.header {
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 70px;
}